<div class="logo">
  <h1>Tracker Time</h1>
</div>
<ul class="navbar nav nav-tabs">
	<li class="nav-item">
    <%= link_to "Home", root_path, class: "nav-link active" %>
	</li>
	<li class="nav-item">
    <%= link_to "Time Enteries", posts_path, class: "nav-link active"  %>
	</li>
	<li class="nav-item">
		<a class="nav-link disabled" href="#">Messages</a>
	</li>
	<li class="nav-item dropdown ml-md-auto">
		 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Almirco J</a>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
			 <a class="dropdown-item" href="#">Profile</a>
       <a class="dropdown-item" href="#">List</a>
       <a class="dropdown-item" href="#">Dashboard</a>
			<div class="dropdown-divider">
			</div> <a class="dropdown-item" href="#">Logout</a>
		</div>
	</li>
</ul>
