<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Working 200 (OK)!</h1>
    <p>This is a site is for  marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-warning btn-lg" href="#" role="button" style="background-color: #FF5A5; color: white;">Restor &raquo;</a></p>
  </div>
</div>
